---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar";
import Footer from "../../components/Footer";
import BlogPost from "../../components/BlogPost";

import type { CollectionEntry } from 'astro:content';

export const prerender = true;

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

interface Props {
    post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
    title={`${post.data.title} | Logistics Gurukul Blog`}
    description={post.data.excerpt || ""}
>
    <Navbar client:load />
    <main>
        <BlogPost post={post.data} client:load>
            <Content />
        </BlogPost>
    </main>
    <Footer client:visible />
</Layout>
