---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import AboutHero from "../components/AboutHero";
import AboutStory from "../components/AboutStory";
import AboutVisionMission from "../components/AboutVisionMission";
---

<Layout
    title="About Us | Best Logistics Institute in Kochi, Kerala"
    description="Logistics Gurukul offers practical supply chain training in Ernakulam. Our mission: delivering job-oriented courses with 6 months paid training."
>
    <Navbar client:load />
    <main>
        <AboutHero client:load />
        <AboutStory client:load />
        <AboutVisionMission client:load />
    </main>
    <Footer client:visible />
</Layout>
