---
import Layout from "../layouts/Layout.astro";
import { aboutPageSchema, thrissurLocalBusinessSchema, aboutBreadcrumbSchema } from '../schemas/about.js';
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import AboutHero from "../components/AboutHero";
import AboutStory from "../components/AboutStory";
import AboutVisionMission from "../components/AboutVisionMission";
import ContactCTA from "../components/ContactCTA";
---

<Layout
    title="About Logistics Gurukul | Best Logistics Institute Kochi Kerala"
    description="Logistics Gurukul offers practical supply chain training in Ernakulam. Our mission: delivering job-oriented courses with 6 months paid training."
>
    <Fragment slot="head">
        <script type="application/ld+json" set:html={JSON.stringify(aboutPageSchema)} />
        <script type="application/ld+json" set:html={JSON.stringify(thrissurLocalBusinessSchema)} />
        <script type="application/ld+json" set:html={JSON.stringify(aboutBreadcrumbSchema)} />
    </Fragment>
    <Navbar client:load />
    <main>
        <AboutHero client:load />
        <AboutStory client:load />
        <AboutVisionMission client:load />
        <ContactCTA client:visible />
    </main>
    <Footer client:visible />
</Layout>
