---
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import BlogHero from "../components/BlogHero";
import BlogGrid from "../components/BlogGrid";

const posts = await getCollection('posts');
const serializedPosts = JSON.parse(JSON.stringify(posts.map(post => ({
  slug: post.slug,
  title: post.data.title,
  excerpt: post.data.excerpt,
  image: post.data.image,
  author: post.data.author,
  date: post.data.date,
  category: post.data.category
}))));
---

<Layout
    title="Logistics Career Guide | Study Tips & Job Trends"
    description="Your guide to a successful career in shipping. Articles on diploma courses, paid internships, and placement opportunities in Kochi and beyond."
>
    <Navbar client:load />
    <main>
        <BlogHero client:load />
        <BlogGrid client:load posts={serializedPosts} />
    </main>
    <Footer client:visible />
</Layout>
