---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import CertificationHero from "../components/CertificationHero";
import CertificationContent from "../components/CertificationContent";
---

<Layout
    title="Global Logistics Certification | STED Council Approved"
    description="Earn a globally recognized STED Council certification in International Logistics. Boost your Supply Chain career with industry-standard training."
>
    <Navbar client:load />
    <main>
        <CertificationHero client:load />
        <CertificationContent client:load />
    </main>
    <Footer client:visible />
</Layout>
