---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import DiplomaLogistics from "../components/DiplomaLogistics";
---

<Layout
    title="Diploma in International Logistics & Freight Management | 1-Year Course"
    description="Join our flagship 1-Year Diploma in International Logistics. STED Council certified, 100% placement assurance, and expert-led simulation training."
>
    <Navbar client:load />
    <main>
        <DiplomaLogistics client:load />
    </main>
    <Footer client:visible />
</Layout>
