---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import DiplomaLogistics from "../components/DiplomaLogistics";
import ContactCTA from "../components/ContactCTA";
---

<Layout
    title="International Logistics & Freight Management Course Kerala"
    description="Join the only 1-Year Diploma in Logistics & Freight Management in Kerala with 6 Months Paid On-Job Training. STED Council certified & 100% placement support."
>
    <Navbar client:load />
    <main>
        <DiplomaLogistics client:load />
        <ContactCTA client:visible />
    </main>
    <Footer client:visible />
</Layout>
