---
import Layout from "../layouts/Layout.astro";
import { courseSchema, diplomaBreadcrumbSchema } from '../schemas/diploma.js';
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import DiplomaLogistics from "../components/DiplomaLogistics";
---

<Layout
    title="1-Year Diploma in International Logistics | 6-Month Paid Training | Kochi"
    description="Join the only 1-Year Diploma in Logistics & Freight Management in Kerala with 6 Months Paid On-Job Training. STED Council certified & 100% placement support."
>
    <Fragment slot="head">
        <script type="application/ld+json" set:html={JSON.stringify(courseSchema)} />
        <script type="application/ld+json" set:html={JSON.stringify(diplomaBreadcrumbSchema)} />
    </Fragment>
    <Navbar client:load />
    <main>
        <DiplomaLogistics client:load />
    </main>
    <Footer client:visible />
</Layout>
