---
import Layout from "../layouts/Layout.astro";
import { organizationSchema, localBusinessSchema, homeBreadcrumbSchema } from '../schemas/organization.js';
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import AuthorityBar from "../components/AuthorityBar";
import SkillGrid from "../components/SkillGrid";
import CareerOpportunities from "../components/CareerOpportunities";
import SpecialitySection from "../components/SpecialitySection";
import CareerRoadmap from "../components/CareerRoadmap";
import ContactCTA from "../components/ContactCTA";
import Footer from "../components/Footer";
---

<Layout
	title="Best Logistics Course in Kerala with Paid Internship | Logistics Gurukul"
	description="Join Logistics Gurukul in Kochi for a 1-Year Diploma in International Logistics. Includes 6 Months Paid On-Job Training & 100% Placement Support."
>
	<Fragment slot="head">
		<script type="application/ld+json" set:html={JSON.stringify(organizationSchema)} />
		<script type="application/ld+json" set:html={JSON.stringify(localBusinessSchema)} />
		<script type="application/ld+json" set:html={JSON.stringify(homeBreadcrumbSchema)} />
	</Fragment>
	<Navbar client:load />
	<main>
		<Hero client:load />
		<AuthorityBar client:load />
		<SkillGrid client:visible />
		<CareerOpportunities client:visible />
		<CareerRoadmap client:visible />
		<SpecialitySection client:visible />
		<ContactCTA client:visible />
	</main>
	<Footer client:visible />
</Layout>
