---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Hero from "../components/Hero";
import AuthorityBar from "../components/AuthorityBar";
import SkillGrid from "../components/SkillGrid";
import CareerOpportunities from "../components/CareerOpportunities";
import SpecialitySection from "../components/SpecialitySection";
import CareerRoadmap from "../components/CareerRoadmap";
import ContactCTA from "../components/ContactCTA";
import Footer from "../components/Footer";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
	title="Logistics Course in Kerala | Diploma with Paid Internship"
	description="Join Logistics Gurukul in Kochi for a 1-Year Diploma in International Logistics. Includes 6 Months Paid On-Job Training & 100% Placement Support."
>
	<Navbar client:load />
	<main>
		<Hero client:load />
		<AuthorityBar client:load />
		<SkillGrid client:visible />
		<CareerOpportunities client:visible />
		<CareerRoadmap client:visible />
		<SpecialitySection client:visible />
		<ContactCTA client:visible />
	</main>
	<Footer client:visible />
</Layout>
