---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import ShortTermCoursesComponent from "../components/ShortTermCourses";
import ContactCTA from "../components/ContactCTA";
---

<Layout
    title="Short-Term Logistics Courses | 3-Month Fast Track Programs"
    description="Accelerate your career with 3-month specialized diplomas in Warehouse, Shipping, Air Cargo, and Export-Import Management."
>
    <Navbar client:load />
    <main>
        <div class="pt-20">
            {/* Add padding top to account for fixed navbar */}
            <ShortTermCoursesComponent client:load />
            <ContactCTA client:visible />
        </div>
    </main>
    <Footer client:visible />
</Layout>
