---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer";
import TutorsPage from "../components/TutorsPage";
---

<Layout
    title="Our Expert Mentors | Logistics Gurukul Faculty"
    description="Learn from industry veterans and experienced professionals led by Center Head Vineetha Kadangot. Practical training by experts."
>
    <Navbar client:load />
    <main>
        <TutorsPage client:load />
    </main>
    <Footer client:visible />
</Layout>
