---
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Logistics Gurukul - The #1 Logistics Institute in Kerala.",
} = Astro.props;

import WhatsAppFloater from "../components/WhatsAppFloater";
import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<SEO title={title} description={description} />
	</head>
	<body
		class="bg-slate-50 text-slate-900 font-sans antialiased selection:bg-orange-500 selection:text-white"
	>
		<slot />
		<WhatsAppFloater client:load />
	</body>
</html>
