---
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Logistics Gurukul - The #1 Logistics Institute in Kerala.",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body
		class="bg-slate-50 text-slate-900 font-sans antialiased selection:bg-orange-500 selection:text-white"
	>
		<slot />
	</body>
</html>
