---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar";
import Footer from "../../components/Footer";
import CoursesHero from "../../components/CoursesHero";
import FeaturedCourse from "../../components/FeaturedCourse";
import ShortTermCourses from "../../components/ShortTermCourses";
---

<Layout
    title="Logistics Course in Kerala | Diploma with Paid Internship"
    description="Join Logistics Gurukul in Kochi for a 1-Year Diploma in International Logistics. Includes 6 Months Paid On-Job Training & 100% Placement Support."
>
    <Navbar client:load />
    <main>
        <CoursesHero client:load />
        <FeaturedCourse client:load />
        <ShortTermCourses client:load />
    </main>
    <Footer client:visible />
</Layout>
